<div class="col-md-6">
  <h2> Groups Details</h2>
  <button *ngIf="adminGuard.isAdmin()" class="btn btn-secondary" (click)="addGroup()"> Add Group</button>
  <label>
    <input [(ngModel)]="query">
  </label>

  <table class="table table-striped">
    <thead>
    <tr>
      <!--      <th class="hidden">Id</th>-->
      <th>ID</th>
      <th>Name</th>
      <th>Members</th>
      <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups | search:'name':query">
      <!--      <td class="hidden">{{group.id}}</td>-->
      <td>{{group._id}}</td>
      <td>{{group.name}}</td>
      <td>{{group.members}}</td>
      <td>{{group.owner}}</td>

      <td>
        <div class="btn-group">
          <button *ngIf="adminGuard.isAdmin()" class="btn btn-danger" (click)="deleteGroup(group)"> Delete</button>
          <button *ngIf="adminGuard.isAdmin()" class="btn btn-primary" (click)="editGroup(group)" style="margin-left: 10px;"> Edit</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
